{
  "env": {
    "coreJs": 3
  },
  "exclude": [".*.map$"],
  "sourceMaps": true,
  "jsc": {
    "target": "es2016",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "throwIfNamespace": true,
        "development": false,
        "refresh": true
      }
    }
  }
}
